table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
}

table, tr, td {
	font-size: 1.25em;
	margin: 1em;
	padding: 0.3em;
	border: 1px solid black;
}

p, br {
	font-size: 1.25em;
	margin: 1em;
	padding: 0.3em;
}

input {
	font-size: 1.5em;
}

.info {
	font-size: 1.5em;
}

.highlight {
	font-weight: bold;
}

#map, #mapFrame {
	height: 100%;
	width: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*
 * Definitions for disruptions
 */

.disrupt_para {
	font-size: 1.5em;
}

.line_box {
	color: white
}

.bakerloo {
	background-color: rgb(178, 99, 0)
}

.hammersmith_city {
	background-color: rgb(244, 169, 190)
}

.piccadilly {
	background-color: rgb(0, 25, 168)
}

.central {
	background-color: rgb(220, 36, 31)
}

.jubilee {
	background-color: rgb(161, 165, 167)
}

.victoria {
	background-color: rgb(0, 152, 216)
}

.circle {
	background-color: rgb(255, 211, 41)
}

.metropolitan {
	background-color: rgb(155, 0, 88)
}

.waterloo_city {
	background-color: rgb(147, 206, 186)
}

.district {
	background-color: rgb(0, 125, 50)
}

.northern {
	background-color: rgb(0, 0, 0)
}

.overground {
	background-color: rgb(239, 123, 16)
}
